# Excerise - Feature Engineering
Previously, we have learnt about all the different ways you can perform Feature Engineering to get actionable, valueble datapoints that can be used downstream.

In this exsercise, you are the data scientist for a Lozodo, an ecommerce company in Atlantis. Your job is to create a CDP (Customer Data Platform) to track all its customers, so that the data points can be used in other ML Algorithms/Projects. You are given the store's transactions and asked to create customer profiles that includes the following information:
1. The CustomerID
2. Total counts of items bought
3. Total number of unqiue items bought
4. When the customer started their first purchase
5. When the customer made their last purchase
6. How many days between the customers first known purchase date and their last known purchase date
7. How many purchases has the customer made?
8. What is the average days between purchases for each customer?
9. What is the average basket size of each customer?
10. Customer's country

In [1]:
# Importing required packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv('C:/Users/User/Forward School/ADS/W4/W4-02/Data/ecom_data.csv',encoding='latin1')
df.head(5)

,InvoiceNo,InvoiceDate,StockCode,Description,Quantity,UnitPrice,CustomerID,Country
0,536365,01/12/2010,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850,United Kingdom
1,536365,01/12/2010,71053,WHITE METAL LANTERN,6,3.39,17850,United Kingdom
2,536365,01/12/2010,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850,United Kingdom
3,536365,01/12/2010,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850,United Kingdom
4,536365,01/12/2010,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850,United Kingdom